{% extends 'base.html.twig' %}
{% block body %}
    <div class="container my-5">
        <h1>Mon Panier</h1>
        {% if cart is empty %}
            <div class="alert alert-info mt-1">
                Vous n'avez ajouté aucun article au panier.
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-8">
                    {% for item in cart %}
                        {% set variant = item.object %}
                        {% set product = variant.product %}
                        <div class="row mt-2 align-items-center">
                            <div class="col-md-2">
                                {% if product.images is not empty %}
                                    <img src="/uploads/{{ product.images.first.imagePath }}" class="img-fluid" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                            <div class="col-md-5">
                                <strong>{{ product.name }}</strong>
                                <span class="d-block">Couleur: {{ variant.color }} | Taille: {{ variant.size }}</span>
                                <span class="d-block">Prix : {{ product.price|price }}</span>
                                <span class="d-block">Prix unitaire : {{ product.priceWt|price }}</span>
                            </div>
                            <div class="col-md-2 text-center">
                                <a href="{{ path('app_cart_edit', { id: variant.id }) }}" class="text-decoration-none">-</a>
                                <div class="badge text-bg-secondary">x{{ item.qty }}</div>
                                <a href="{{ path('app_cart_increase', { id: variant.id }) }}" class="text-decoration-none">+</a>
                            </div>
                            <div class="col-md-2">
                                <strong>{{ (item.qty * product.priceWt)|price }}</strong>
                            </div>
                            <div class="col-md-1">
                                <a href="{{ path('app_cart_remove', { id: variant.id }) }}" class="text-danger fs-5 text-decoration-none">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="bg-light p-2">
                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">Total produits :</span>
                            <span>{{ fullcartqte }}</span>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <span class="fw-bold">Prix total T.T.C:</span>
                            <span>{{ total|price }}</span>
                        </div>
                        <div>
                            <a href="{{ path('app_order') }}" class="btn btn-success w-100 mt-3">Commander</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
